*{
padding: 0;
margin: 0;
}
    padding

.col-1{
    width: 8.33;
}
.col-2{
    width: 16.66;
}
.col-3{
    width: 25;
}
.col-4{
    width: 33.33;
}
.col-5{
    width: 41.66;
}
.col-6{
    width: 50;
}
.col-7{
    width: 58.33;
}
.col-8{
    width: 66.66;
}
.col-9{
    width: 75;
}
.col-10{
    width: 83.33;
}
.col-11{
    width: 91.66;
}
.col-12{
    width: 100;
}
[class*="col"]{
    float: left;
    box-sizing: border-box;
    border: 1px solid orange;
}
.menu-height{
    height: 50px;
    width: 100%;
    background-color: red;
}
ul{
    list-style: none;
    margin-top: 15px;
}

ul li{
    float: left;
    padding-left: 30px;
}

ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-family: sans-serif;
    
}

.active{
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
}

ul li a:hover{
    color: black;
    background-color: skyblue;
    padding: 10px;
    border-radius: 10px;
}
.heading1{
    color: red;
    font-size:50px;
    text-align: center;
    font-weight: bolder;
    text-transform: uppercase;
}
    .text{
        background-color: blue;
        color: white;
        text-align: center;
        text-transform: capitalize;
        font-size: 20px;
    }
